<a href="https://colab.research.google.com/github/Arjun343/CIS235Python/blob/main/Python_ReadingWriting_csvonly_Arjun_Agrawal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**READ ME FIRST:**

Use the code blocks below to answer each quiz question. Use the code blocks below to answer each quiz question. IMPORTANT: Be sure that the text "# Question 1:", "# Question 2:", and so forth remains in each of your code cells. That is how the auto-grader searches for your responses

Only print the output required for each question. Otherwise, the auto-grader may misinterpret your results. See the next code cell below as an an example (leave that code cell in this file):

In [ ]:
# Question 0: (example)

# Create two variables to store the numbers 7 and 9
# Add those two variables together and print them

x = 7
y = 9
print(x + y)

16

Download the dataset: top_100_books.csv

This is a real dataset representing the top 100 best-selling books available on Amazon.com

Import this csv into a DataFrame; do not adjust any additional settings

In [ ]:
# Question 1:

import pandas as pd

# Specify the file path to the CSV file
file_path = r'C:\Users\arjun\OneDrive\Documents\Arjun\ASU\CIS235\top_100_books-2020-Arjun_Agrawal.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path, index_col=None, na_values=['NA'])

Sometimes imported data can be messy. In this case, there are several columns that are completed empty with no headers either. Remove each of those columns with blank cells. Print out the first five records of the resulting DataFrame.

In [ ]:
# Question 2:

# Remove columns with all empty cells (NaN)
df_cleaned = df.dropna(axis=1, how='all')

# Print the first five records of the cleaned DataFrame
print(df_cleaned.head())

   rank                 title          author  rating  reviews       type  \
0     1              Becoming  Michelle Obama     4.9    13347  Hardcover
1     2  Girl, Wash Your Face   Rachel Hollis     4.6    10521  Hardcover
2     3      The Wonky Donkey     Craig Smith     4.7     5503  Paperback
3     4         Fire and Fury   Michael Wolff     4.2     9931  Hardcover
4     5                  Fear    Bob Woodward     4.5     3220  Hardcover

   price
0  17.95
1  13.63
2   4.99
3  15.57
4  15.47

We gave out copies of "Man's Search for Meaning" free to the first 10 people to sign up for a new Amazon account. Now that the promotion is done, we need to update the price from 0 to 9.99. Update the price now. It is okay to manually/hardcode the row index number for this row.

Print out the last 14 records of the DataFrame

In [ ]:
# Question 3:
print(df_cleaned.columns)
# Manually set the price for "Man's Search for Meaning" to 9.99
df.loc[df_cleaned['title'] == "Man's Search for Meaning", 'Price'] = 9.99

# Print out the last 14 records of the DataFrame
print(df_cleaned.tail(14))

Index(['rank', 'title', 'author', 'rating', 'reviews', 'type', 'price'], dtype='object')
    rank                           title               author  rating  \
85    87             Whiskey in a Teacup    Reese Witherspoon     4.7
86    88        Man's Search for Meaning     Viktor E. Frankl     4.7
87    89                 The Great Alone       Kristin Hannah     4.6
88    90        The Total Money Makeover          Dave Ramsey     4.7
89    91                        Cravings       Chrissy Teigen     4.7
90    92             The Handmaid's Tale      Margaret Atwood     4.1
91    93       The Gifts of Imperfection           Bren Brown     4.6
92    94                The Great Gatsby  F. Scott Fitzgerald     4.2
93    95        The Body Keeps the Score                  NaN     4.8
94    96               Gmorning, Gnight!   Lin-Manuel Miranda     4.7
95    97               Rich Dad Poor Dad   Robert T. Kiyosaki     4.5
96    98                   Make Your Bed   William H. McRaven     4.7
97    99  Harry Potter Paperback Box Set        J. K. Rowling     4.7
98   100  Xanathar's Guide to Everything     Wizards RPG Team     4.5

    reviews       type  price
85      616  Hardcover  19.49
86     4959  Paperback   0.00
87     6902  Hardcover  15.83
88     5772  Hardcover  14.60
89      332  Hardcover  18.25
90    14663  Paperback   9.49
91     4057  Paperback   8.97
92     7527  Paperback  11.25
93     2005  Paperback  10.80
94      285  Hardcover  15.49
95     8611  Paperback   6.45
96     2582  Hardcover  11.00
97     7742  Paperback  54.99
98      743  Hardcover  31.56

A common task in data analytics is to convert rare group values to more common values for more valid results. Iterate through the records and convert "Board Book" to Hardcover and "Mass Market Paperback" to "Paperback".

You will learn an easier way to accomplish this task in other chapters. However, for the purpose of this question, accomplish this through an iteration.

Keep track of the number of rows that needed to be updated. Print out this dynamic number.

In [ ]:
# Question 4:
# Initialize a variable to keep track of the number of rows updated
updated_rows = 0

# Iterate through the DataFrame
for index, row in df_cleaned.iterrows():
    if row['type'] == 'Board Book':
        df_cleaned.at[index, 'type'] = 'Hardcover'
        updated_rows += 1
    elif row['type'] == 'Mass Market Paperback':
        df_cleaned.at[index, 'type'] = 'Paperback'
        updated_rows += 1

# Print the number of rows updated
print(f"Number of rows updated: {updated_rows}")

Number of rows updated: 0

Sort the DataFrame in descending order by the “reviews” field

Print the first 5 records

In [ ]:
# Question 5:
# Sort the DataFrame in descending order by the "reviews" field
df_sorted = df_cleaned.sort_values(by='reviews', ascending=False)

# Print the first 5 records of the sorted DataFrame
print(df_sorted.head(5))

    rank                                  title           author  rating  \
59    60                  Beneath a Scarlet Sky    Mark Sullivan     4.7
47    48                       Ready Player One     Ernest Cline     4.6
69    70                Where the Crawdads Sing      Delia Owens     4.8
90    92                    The Handmaid's Tale  Margaret Atwood     4.1
81    83  The Life-Changing Magic of Tidying Up      Marie Kondo     4.4

    reviews       type  price
59    25842  Paperback  11.99
47    18942  Paperback  12.00
69    15153  Hardcover  15.60
90    14663  Paperback   9.49
81    14421  Hardcover   9.69

Write your updated DataFrame to a new CSV file called “{Your_Name}_top_100_books_cleaned.csv”.

In [ ]:
# Question 6:
# Specify the file name with your name
output_file = "Arjun_Agrawal_top_100_books_cleaned.csv"

# Write the updated DataFrame to the CSV file
df_sorted.to_csv(output_file, index=False)